//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 21 14:57:58 2020
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
COMP "LED" LOCATE = SITE "P112" LEVEL 1;
COMP "RXD" LOCATE = SITE "P101" LEVEL 1;
COMP "TXD" LOCATE = SITE "P105" LEVEL 1;
COMP "WING_A<0>" LOCATE = SITE "P48" LEVEL 1;
COMP "WING_A<1>" LOCATE = SITE "P51" LEVEL 1;
COMP "WING_A<2>" LOCATE = SITE "P56" LEVEL 1;
COMP "WING_A<3>" LOCATE = SITE "P58" LEVEL 1;
COMP "WING_B<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "WING_A<4>" LOCATE = SITE "P61" LEVEL 1;
COMP "WING_B<1>" LOCATE = SITE "P97" LEVEL 1;
COMP "WING_A<5>" LOCATE = SITE "P66" LEVEL 1;
COMP "WING_B<2>" LOCATE = SITE "P92" LEVEL 1;
COMP "WING_A<6>" LOCATE = SITE "P67" LEVEL 1;
COMP "WING_B<3>" LOCATE = SITE "P87" LEVEL 1;
COMP "WING_A<7>" LOCATE = SITE "P75" LEVEL 1;
COMP "WING_B<4>" LOCATE = SITE "P84" LEVEL 1;
COMP "WING_A<8>" LOCATE = SITE "P79" LEVEL 1;
COMP "WING_C<0>" LOCATE = SITE "P114" LEVEL 1;
PIN WING_C<0>_pin<0> = BEL "WING_C<0>" PINNAME PAD;
PIN "WING_C<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "WING_C<1>" LOCATE = SITE "P115" LEVEL 1;
COMP "WING_B<5>" LOCATE = SITE "P82" LEVEL 1;
COMP "WING_A<9>" LOCATE = SITE "P81" LEVEL 1;
COMP "WING_C<2>" LOCATE = SITE "P116" LEVEL 1;
COMP "WING_B<6>" LOCATE = SITE "P80" LEVEL 1;
COMP "WING_C<3>" LOCATE = SITE "P117" LEVEL 1;
COMP "WING_B<7>" LOCATE = SITE "P78" LEVEL 1;
COMP "WING_C<4>" LOCATE = SITE "P118" LEVEL 1;
COMP "WING_B<8>" LOCATE = SITE "P74" LEVEL 1;
COMP "WING_C<5>" LOCATE = SITE "P119" LEVEL 1;
COMP "WING_B<9>" LOCATE = SITE "P95" LEVEL 1;
COMP "WING_C<6>" LOCATE = SITE "P120" LEVEL 1;
COMP "WING_C<7>" LOCATE = SITE "P121" LEVEL 1;
COMP "WING_C<8>" LOCATE = SITE "P123" LEVEL 1;
COMP "WING_C<9>" LOCATE = SITE "P124" LEVEL 1;
COMP "WING_A<10>" LOCATE = SITE "P83" LEVEL 1;
COMP "WING_A<11>" LOCATE = SITE "P85" LEVEL 1;
COMP "WING_A<12>" LOCATE = SITE "P88" LEVEL 1;
COMP "WING_A<13>" LOCATE = SITE "P93" LEVEL 1;
COMP "WING_A<14>" LOCATE = SITE "P98" LEVEL 1;
COMP "WING_A<15>" LOCATE = SITE "P100" LEVEL 1;
COMP "WING_B<10>" LOCATE = SITE "P62" LEVEL 1;
COMP "WING_B<11>" LOCATE = SITE "P59" LEVEL 1;
COMP "WING_B<12>" LOCATE = SITE "P57" LEVEL 1;
COMP "WING_B<13>" LOCATE = SITE "P55" LEVEL 1;
COMP "WING_B<14>" LOCATE = SITE "P50" LEVEL 1;
COMP "WING_B<15>" LOCATE = SITE "P47" LEVEL 1;
COMP "WING_C<10>" LOCATE = SITE "P126" LEVEL 1;
COMP "WING_C<11>" LOCATE = SITE "P127" LEVEL 1;
COMP "WING_C<12>" LOCATE = SITE "P131" LEVEL 1;
COMP "WING_C<13>" LOCATE = SITE "P132" LEVEL 1;
COMP "WING_C<14>" LOCATE = SITE "P133" LEVEL 1;
COMP "WING_C<15>" LOCATE = SITE "P134" LEVEL 1;
COMP "DRAM_ADDR<10>" LOCATE = SITE "P141" LEVEL 1;
COMP "DRAM_ADDR<11>" LOCATE = SITE "P35" LEVEL 1;
COMP "DRAM_ADDR<12>" LOCATE = SITE "P34" LEVEL 1;
COMP "DRAM_BA<0>" LOCATE = SITE "P143" LEVEL 1;
COMP "DRAM_BA<1>" LOCATE = SITE "P142" LEVEL 1;
COMP "DRAM_DQ<0>" LOCATE = SITE "P9" LEVEL 1;
COMP "DRAM_DQ<1>" LOCATE = SITE "P10" LEVEL 1;
COMP "DRAM_DQ<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "DRAM_DQ<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "DRAM_DQ<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "DRAM_DQ<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "DRAM_DQ<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "DRAM_DQ<7>" LOCATE = SITE "P8" LEVEL 1;
COMP "DRAM_DQ<8>" LOCATE = SITE "P21" LEVEL 1;
COMP "DRAM_DQ<9>" LOCATE = SITE "P22" LEVEL 1;
COMP "DRAM_CAS_N" LOCATE = SITE "P5" LEVEL 1;
COMP "DRAM_RAS_N" LOCATE = SITE "P2" LEVEL 1;
COMP "DRAM_ADDR<0>" LOCATE = SITE "P140" LEVEL 1;
COMP "DRAM_ADDR<1>" LOCATE = SITE "P139" LEVEL 1;
COMP "DRAM_ADDR<2>" LOCATE = SITE "P138" LEVEL 1;
COMP "DRAM_ADDR<3>" LOCATE = SITE "P137" LEVEL 1;
COMP "DRAM_ADDR<4>" LOCATE = SITE "P46" LEVEL 1;
COMP "DRAM_ADDR<5>" LOCATE = SITE "P45" LEVEL 1;
COMP "DRAM_ADDR<6>" LOCATE = SITE "P44" LEVEL 1;
COMP "DRAM_ADDR<7>" LOCATE = SITE "P43" LEVEL 1;
COMP "DRAM_ADDR<8>" LOCATE = SITE "P41" LEVEL 1;
COMP "DRAM_ADDR<9>" LOCATE = SITE "P40" LEVEL 1;
COMP "DRAM_CS_N" LOCATE = SITE "P1" LEVEL 1;
COMP "DRAM_WE_N" LOCATE = SITE "P6" LEVEL 1;
COMP "DRAM_DQ<10>" LOCATE = SITE "P23" LEVEL 1;
COMP "DRAM_DQ<11>" LOCATE = SITE "P24" LEVEL 1;
COMP "DRAM_DQ<12>" LOCATE = SITE "P26" LEVEL 1;
COMP "DRAM_DQ<13>" LOCATE = SITE "P27" LEVEL 1;
COMP "DRAM_DQ<14>" LOCATE = SITE "P29" LEVEL 1;
COMP "DRAM_DQ<15>" LOCATE = SITE "P30" LEVEL 1;
COMP "DRAM_CKE" LOCATE = SITE "P33" LEVEL 1;
COMP "DRAM_CLK" LOCATE = SITE "P32" LEVEL 1;
COMP "DRAM_DQM<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "DRAM_DQM<1>" LOCATE = SITE "P17" LEVEL 1;
PIN clk_gen/clkout1_buf_pin<1> = BEL "clk_gen/clkout1_buf" PINNAME O;
PIN "clk_gen/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN clk_gen/clkout2_buf_pin<1> = BEL "clk_gen/clkout2_buf" PINNAME O;
PIN "clk_gen/clkout2_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_gen/clkin1" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

